
@{
    ViewData["Title"] = "OrderDone";
}
<div style="height:500px; margin:300px">
    <h1>Your order is successfully done </h1>

    <div>
        <a asp-action="Index" asp-controller="Home" class="btn btn-success">Back to home page</a>
    </div>
</div>
