
@{
    ViewData["Title"] = "Submit";
}

<h1 style="margin:0 auto">Your order is successfully done</h1>

<div>
    <a asp-action="Index" asp-controller="Home" class="btn btn-success" style="margin:0 auto">Back to home page</a>
</div>