@{
    ViewData["Title"] = "ContactUS";
}

<div class="container">
    <form class="form">
        <h2 style="padding-top:20px;">CONTACT US</h2>
        <p type="Name:"><input placeholder="Write your name here.."/></p>
        <p type="Email:"><input placeholder="Let us know how to contact you back.."/></p>
        <p type="Message:"><input placeholder="What would you like to tell us.."/></p>
        <button>Send Message</button>
        <div>
            <span class="fa fa-phone"></span>+ 46 726 129 487
            <span class="fa fa-envelope-o"></span>NoaaMovieStore@gmail.com

        </div>
    </form>
</div>
